doctype html
html(lang='en-ES')
  head
    include ../partials/header.jade
  body
    .scanlines
    include ../partials/navbar.jade

    // Begin Wrapper
    .wrapper
      include ../partials/aboutintro.jade
      // Begin Container
      .box
        h1.title Saluti luminosi
        .one-third
          .outer.none
            span.inset
              img(src='images/gothic/adoration.jpg', alt='Arien', title='Arien')
        .two-third.last
          h2 Tenterò di spiegarvi cos'è la Wicca attraverso me.
          p
            | Racconterò il mio modo ci concepirla e di viverla.
            br
            | Possa aiutarvi nel vostro cammino....
          p
            | Sono Shirin. Sono stata creata come componente della natura.
            br
            | Le rocce, gli animali, le piante, gli elementi e le stelle sono i miei parenti.
            br
            | Altri esseri umani sono le miei sorelle e fratelli, qualunque siano i loro colori, orientamenti sessuali, età, nazionalità, religioni e stili di vita.
            br
            | La terra del pianeta è la mia dimora.
            br
            | Faccio parte di questa grande famiglia della natura, non ne sono padrona.
            br
            | Ho il mio lato speciale con cui giocare e scoprire nuove abilità.
            br
            | Cerco di vivere nell'armonia con gli altri, con la famiglia e con la natura trattandoli con rispetto.
            br
            | Celebro il cambio di stagione e la ruota dell’anno.
            br
            | Canto, Ballo e pratico rituali.
            br
            | Lavoro magicamente perché la gente abbia più libertà religiosa.
            br
            | Onoro i cicli della vita.
            br
            | Con ogni fine viene un nuovo inizio. Con la morte viene la reincarnazione.
            br
            | La saggezza antica del rinnovamento e del riciclaggio della natura è compresa nel mio cuore.
            br
            | Il cambiamento intenzionale con la magia coscienziosa fa parte della mia spiritualità.
            br
            | Per ogni problema c’è almeno una soluzione realizzabile così come l'occasione di sviluppo.
            br
            | Genero la mia realtà con i miei pensieri, la mia sensibilità e le mie azioni.
            br
            | Qualsiasi cosa spedisco mi torna indietro tre volte.
            br
            | Cerco di attenermi al Rede Wiccan: "Finchè non fai male a nessuno fa ciò che vuoi"
            br
            | Quando faccio un incantesimo, prima di dirigere la mia energia, cerco sempre di guardare se i miei bisogni sono totalmente giusti.
            br
            | Tento di lavorare per la cosa migliore per tutti e per aiutarsi.
            br
            | Quando i problemi mi assalgono, cerco di capire la loro causa e il loro messaggio per trovarne la soluzione.
            br
            | Faccio incantesimi con la Luna per aiutare e guarire me, gli altri e il pianeta.
            br
            | La Dea della Triplice Luna mi aiuta e guida in questo.
            br
            | Abbraccio la Dea Madre riconoscente che il divino è dappertutto ed in tutto.
            br
            | Onoro il divino che è all'interno degli alberi della quercia nella foresta, nelle erbe, nel giardino, negli uccelli selvaggi che cantano sugli alberi, nella roccia che erode e in me.
            br
            | So che il Divino ha molte sfaccettature così mi sono avvicinata a Dee, Dei e altri spiriti naturali che hanno trasformato ed arricchito la mia vita.
            br
            | La terra madre guida il mio lavoro in nome di questo pianeta.
            br
            | Sperimento il divino con familiars, animali che visualizzo in sogno o in meditazione.
            br
            | Le mie pratiche spirituali includono l'auto-accettazione e la comprensione, non l’ auto-rifiuto.
            br
            | Il mio culto prende la forma della comunione divina con la natura.
            br
            | Il mio culto e i rituali possono essere dovunque poiché il mio spazio sacro è portatile. Dovunque sia, posso creare un cerchio.
            br
            | Viaggio nell'aldilà nei miei sogni, nelle mie meditazioni e nei miei rituali.
            br
            | Utilizzo gli strumenti magici per aiutarmi, cristalli, candele, bacchetta, calderone, scopa, athame, coppa…Tarocchi e Rune.
            br
            | Volo con la mia coscienza attraverso tempo e spazio. Esploro altre dimensioni, la percezione intuitiva e psichica è una parte naturale della mia vita quotidiana.
            br
            | Mi adatto ai quattro elementi della natura -- terra, aria, fuoco, acqua -- ed al quinto elemento, akasha, che è la forza spirituale che collega tutto. Vedo questi elementi in natura: la terra nel terreno e nelle rocce; l'aria nei venti e nell’ atmosfera; il fuoco nei lampi, nei fuochi e nell’elettricità; l'acqua nei fiumi, negli oceani, nella pioggia…e lo spirito come unità divina.
            br
            | Sono scoraggiata dall'inquinamento dell'aria, del terreno e delle acque.
            br
            | La Wicca è la mia religione ed il mio fondamento di vita. La natura è il mio insegnante spirituale e libro sacro. Faccio parte della natura e la natura fa parte di me.﻿

        .clear
      // End Container
    // End Wrapper

    include ../partials/socialmedia.jade
    //include ../partials/footer.jade
    include ../partials/info.jade
    // end include info
    // End Footer
    // include scripts
    include ../partials/scripts.jade
    // end include scripts
