doctype html
html(lang='en-ES')
  head
    include ../partials/header.jade
  body
    .scanlines
    include ../partials/navbar.jade

    // Begin Wrapper
    .wrapper
      include ../partials/intro.jade
      // Begin Container
      .content.box
        h1.title Contacto
        .map
          //config map
          - var lat ="43.7745157,11.2662567"
          - var spn="0.047894,0.132093"
          iframe(width='630', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://maps.google.com/maps?ll=#{lat}&spn=#{spn}&vpsrc=6&t=m&z=14&output=embed')
        h3 Escr&iacute;benos
        p
          | Cu&eacute;ntanos alguna duda, comentario &oacute; sugerencia.
        .form-container
          form#frmsend.forms(name="frmsend", action='#')
            fieldset
              ol
                li.form-row.text-input-row
                  label Nombre
                  input.text-input.required(type='text', name='name', value='', title='')
                li.form-row.text-input-row
                  label Email
                  input.text-input.required.email(type='text', name='email', value='', title='')
                li.form-row.text-area-row
                  label Mensaje
                  textarea.text-area.required(name='message')
                li.button-row
                  input#submitEmail.btn-submit(type='button', value='Enviar', name='submitEmail')
      // End Container

      // Begin Sidebar
      .sidebar.box
        .sidebox.widget
          h3.widget-title Donde estamos?
          p Anywhere but Home
            br
            span.lite1 E-mail:
            | &nbsp;admin@jorgebrunal.co

        include ../partials/quotes.jade
        include ../partials/search.jade
      // End Sidebar
      .clear
      // End Container
    // End Wrapper

    include ../partials/socialmedia.jade
    include ../partials/info.jade
    include ../partials/scripts.jade
