doctype html
html(lang='en-ES')
  head
    include ../partials/header.jade
  body
    .scanlines
    include ../partials/navbar.jade
    // Begin Wrapper
    .wrapper
      include ../partials/aboutintro.jade
      // Begin Container
      .content.box
        h1.title La Rede Wicca
        .outer.none
          span.inset
            img(src='images/gothic/01_1025.JPG', title="wicca", alt="wicca")
        p(align='left')
            | Para seguir las leyes Wicca debemos,
            br
            | En Perfecto Amor y Perfecta Confianza
            br
            | Vivir y dejar vivir
            br
            | Justamente dar, y recibir
            br
            | Tres veces el círculo haz de trazar
            br
            | Para los espiritus malignos así echar
            br
            | Siempre, al hechizo finalizar
            br
            | Debe al decir el hechizo rimar
            br
            | De toque gentil y suave mirada
            br
            | mucho escucha, habla nada.
            br
            | Ve en Deosil al crecer la Luna
            br
            | Cantando de las Brujas la Runa
            br
            | Widdershing al menguar la Luna
            br
            | Cantando de desaparición la Runa
            br
            | Si la luna es nueva, de la Señora
            br
            | Dos veces la mano besaras ahora
            br
            | Cuando en su cenit está la luna
            br
            | Lo que desea tu corazón busca.
            br
            | La ráfaga del Norte debes escuchar
            br
            | Echar la llave, las velar bajar
            br
            | Cuando del Sur el viento viene
            br
            | El amor te besará en la boca
            br
            | Cuando el viento sopla del Oeste
            br
            | Las almas descarnadas no descansarán
            br
            | Cuando el viento sopla del Este
            br
            | Espera lo nuevo, arma la fiesta
            br
            | Nueve maderas en el caldero van
            br
            | Rápido y lento quemarlas deberás
            br
            | El Saúco es el arbol de la Dama
            br
            | No lo quemes, o maldito estarás
            br
            | Cuando la Rueda comienza a girar
            br
            | Arder los fuegos de Beltane debes dejar
            br
            | Cuando a Yule ha girado la Rueda
            br
            | Enciende el tronco y el Astado reina
            br
            | Cuida tu Arbusto, Arbol y Flor
            br
            | Bendecidos por la Señora son.
            br
            | Donde las ondas del agua van
            br
            | Tira una piedra, sabrás la verdad
            br
            | Cuando una verdadera necesidad tengas
            br
            | A la codicia ajena no servirás
            br
            | No pases tiempo con el tonto
            br
            | Si no quieres ser considerado su amigo
            br
            | Feliz encuentro, feliz partida
            br
            | Abrigan el corazon, encienden mejillas
            br
            | La ley de las tres veces debes recordar
            br
            | Malo tres veces, bueno tres veces
            br
            | Cuando la mala suerte te persiga
            br
            | Una estrella azul en tu frente lleva
            br
            | Siempre fiel en tu amor debes ser
            br
            | o tu amor infiel te será
            br
            | Siete palabras La Rede Wicca es:
            br
            | Haz lo que quieras, a nadie dañes 
            br

        p(align="right")
          | (atribuída a Doreen Valiente)
      // End Container

      include ../partials/sidebar.jade
      .clear
    // End Wrapper
    include ../partials/socialmedia.jade
    include ../partials/info.jade
    // End Footer
    // include scripts
    include ../partials/scripts.jade
    // end include scripts
