meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
title Nix
link(rel='stylesheet', type='text/css', media='all', href='css/style.css')
link(rel='stylesheet', type='text/css', href='css/media-queries.css')
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700', rel='stylesheet', type='text/css')
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="css/ie9.css" media="all" />
<![endif]-->
