// Begin Intro
.intro
  | Sobre las ruinas de este mundo se esconde la verdad, en el bajo mundo todos saben esa verdad  pero son pocos los que salen a la superficie, en el mundo de arriba el que aparentemente tu conoces los que conocen dicha verdad  son muy pocos; aprende tu también, para que enseñes a los de arriba la verdad que conociste y ellos a otros.
//-ul.social
  li
    a.rss(href='#')
  li
    a.facebook(href='#')
  li
    a.twitter(href='#')
  li
    a.pinterest(href='#')
  li
    a.dribbble(href='#')
  li
    a.flickr(href='#')
  li
    a.linkedin(href='#')
// End Intro