// Begin Header
.header-wrapper.opacity
  .header
    // Begin Logo
    .logo
      a(href='index.html')
        //-img(src='images/logo.png', alt='')
    // End Logo
    // Begin Menu
    #menu-wrapper
      #menu.menu
        ul#tiny
          li
            a(href='index.html') Inicio
          li
            a(href='contact.html') Contacto
    .clear
    // End Menu
// End Header
