.sidebox.widget
	h3.widget-title Cita
	div
		| La verdad es como una mariposa, si salimos detrás de ella nunca la alcanzaremos. Pero si nos detenemos a su lado talvez se pose sobre nosotros.
		br
		| La verdad somos nosotros mismos.
