.sidebox.widget
	h3.widget-title Buscar
	form.searchform(method='get', action='#')
		input(type='text', name='s', value='realiza tu busqueda', onfocus="this.value=''", onblur="this.value='realiza tu busqueda'")
