// Begin Sidebar
.sidebar.box
  .sidebox.widget
    h3.widget-title Categor&iacute;as
    ul
      li
        a(href='#') Teogon&iacute;as
      li
        a(href='#') Mitos Cosmog&oacute;nicos
      li
        a(href='#') Las 7 razas
      li
        a(href='#') Astral
      li
        a(href='#') Gnosis
      li
        a(href='#') Desdoblamientos
      li
        a(href='#') Viajes Astrales
      li
        a(href='#') Wicca
      li
        a(href='#') Paganismo
      li
        a(href='rede.html') La Rede Wicca
      li
        a(href='#') Info
      li
        a(href='about.html') Acerca de
  include quotes.jade
  include search.jade
  //-.sidebox.widget
    h3.widget-title Popular Posts
    | &#x9;&#x9;&#x9;
    ul.post-list
      li
        .frame
          a(href='#')
            img(src='style/images/art/s1.jpg')
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .meta
          h6
            a(href='#') Charming Winter
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          em 28th Sep 2012
      | &#x9;&#x9;&#x9;&#x9;
      li
        .frame
          a(href='#')
            img(src='style/images/art/s2.jpg')
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .meta
          h6
            a(href='#') Trickling Stream
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          em 5th Sep 2012
      | &#x9;&#x9;&#x9;&#x9;
      li
        .frame
          a(href='#')
            img(src='style/images/art/s3.jpg')
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .meta
          h6
            a(href='#') Morning Glory
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          em 26th Sep 2012
// End Sidebar
