// Begin Intro
br
ul.social
  li
    a.twitter(href='http://twitter.com/diniremix' target="_blank")
  li
    a.google(href='https://plus.google.com/+PeterAndersonLee' target="_blank")
  li
    a.pinterest(href='http://pinterest.com/diniremix/' target="_blank")
  li
    a.flickr(href='https://www.flickr.com/people/47496520@N05/' target="_blank")
// End Intro
