doctype html
html(lang='en-ES')
  head
    include partials/header.jade
  body
    .scanlines
    include partials/navbar.jade
    // Begin Wrapper
    .wrapper
      .main-image
        .outer
          <span class="inset"><img src="images/gothic/gothicshop-logo_kopie.gif" title="logo", alt="logo" /></span>
      include partials/intro.jade
      // Begin Container
      .content.box
        h1.title Nix
        p
          | "Más hablamos sabiduría de Dios en misterio, la sabiduría oculta, la cual Dios predestinó antes de los siglos para nuestra gloria". (1 Cor. Cap 2 Ver. 7).
        .outer.none
          span.inset
            img(src='images/gothic/05_1025.JPG', alt='', title='')
        p
          | Sobre las ruinas de este mundo se esconde la verdad, en el bajo mundo todos saben esa verdad  pero son pocos los que salen a la superficie, en el mundo de arriba el que aparentemente tu conoces los que conocen dicha verdad  son muy pocos; aprende tu también, para que enseñes a los de arriba la verdad que conociste y ellos a otros..
        p
          | Sobre este mundo "El conocimiento es poder", pero "No es poderoso el que sabe si no aquel que sabe usar ese conocimiento".
        p
          | "y conoceréis la verdad y las verdad os hará libres..".
        p
          | "Bienaventurado el que lee, y los que oyen las palabras de esta profecía, y guardan las cosas en ellas escritas; porque el tiempo esta cerca".
        p
          | liberate, expresate....
        p(align="right")
          | Al Dijaraneh Niazehra, nit tze ewen
          br
          | Le enfer it ici, et vetreirem drushnaj le eirem
          br
          | Enen io nessum, deijre...

      // End Container

      include partials/sidebar.jade
      .clear
    // End Wrapper
    include partials/socialmedia.jade
    include partials/info.jade
    // End Footer
    // include scripts
    include partials/scripts.jade
    // end include scripts
